.plcatalog-products-grid-container-outer {
    margin-top: 2em;
}


.plcatalog-products-grid-container-inner {
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 70em;
}


.plcatalog-product-col {
    width: 33em;
    padding: 0 1em 0 1em;
    float: left;
}

.plcatalog-product-col:nth-child(2) {
    float: right;
}


.plcatalog-product {
    margin: 1em 0 2em 0;
    width: 100%;
    background-color: #fff;
    color: #222;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}


.plcatalog-bottom {
    border-top: 1px solid #301e1e;
}


.plcatalog-bottom .plcatalog-product-col {
    width: 70%;
    float: none;
    margin: auto;
}


@media (max-width: 980px) {
    .plcatalog-product-image {
        max-width: 90%;
    }
    
    .plcatalog-products-grid-container-inner {
        width: 100%;
    }
    
    .plcatalog-product-col,
    .plcatalog-product-col:nth-child(2),
    .plcatalog-bottom .plcatalog-product-col {
        width: 90%;
        float: none;
    }
}


.plcatalog-product-head {
    font-size: 130%;
    font-weight: bold;
    padding: 1em 0 1em 0;
    background-color: #301e1e;
    margin-bottom: 1em;
    color: #fff;
}


.plcatalog-product-image {
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
    overflow: hidden;
    padding: 4px;
    max-width: 95%;
}


.plcatalog-product-image .plcatalog-product-frame {
    box-shadow: 0px 0px 2px 2px #ccc;
    display: inline-block;
    overflow: hidden;
    padding: 4px;
    background-color: #fff;
}


.plcatalog-product-description {
    padding: 3em 2em 5em 2em;
    text-align: left;
}


.plcatalog-product-price-groups {
    padding: .5em;
    background-color:#301e1e;
    color: white;
}


.plcatalog-product-price-group + .plcatalog-product-price-group {
    border-top: 1px solid #806e6e;
    padding-top: .4em;
    margin-top: .4em;
}


.plcatalog-price-group-name {
    color: #b09e9e;
    display: inline-block;
    width: 6em;
    text-align: right;
    font-size: 95%;
}


.plcatalog-product-price {
    padding: 0 .5em 0 .5em;
    border-right: 1px solid #aaa;
}


.plcatalog-product-price:first-child {
    padding-left: 0;
}

.plcatalog-product-price:last-child {
    border-right: none;
}
