.plcatalog-products-grid-container-outer {
    margin-top: 2em;
}


.plcatalog-products-grid-container-inner {
    margin: auto;
    overflow: hidden;
    text-align: center;
}


.plcatalog-product {
    float: left;
    margin: 1em;
    width: 22em;
    background-color: #fff;
    color: #222;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}


.plcatalog-product-head {
    font-size: 130%;
    font-weight: bold;
    padding: 1em 0 1em  1em;
    background-color: #301e1e;
    margin-bottom: 1em;
    color: #fff;
}


.plcatalog-product-image {
    height: 12em;
    width: 80%;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: 1px solid #301e1e;
    text-align: center;
    overflow: hidden;
}


.plcatalog-product-description {
    height: 15em;
    padding: 1em;
}


.plcatalog-product-prices {
    padding: .5em;
    background-color:#301e1e;
    color: white;
}


.plcatalog-product-price {
    padding: 0 .5em 0 .5em;
    border-right: 1px solid #ccc;
}


.plcatalog-product-price:first-child {
    padding-left: 0;
}

.plcatalog-product-price:last-child {
    border-right: none;
}
